@charset "utf-8";

div, section, header, footer, ul, nav, aside { box-sizing: border-box; }

#wrap { min-width: 1440px;  margin: 0 auto; }
nav { width: 100%; background: #202020ee; position: fixed; z-index: 999; }
.nav_menu { width: 70%; max-height: 44px; height: 48px; display: flex;
  justify-content: space-between; line-height: 2.5; margin: 0 auto; }
.nav_menu li { width: 10%;  text-align: center; }
.nav_menu li:nth-child(1) { display: none; width: 0; }
.nav_menu li:nth-child(2) { width: 5%; margin-left: 3%; }
.nav_menu li:nth-child(10) { width: 5%; margin: 0 2%; }
.nav_menu li:nth-child(11) { width: 5%;}

.nav_menu li a { color: #f5f5f7; font-size: 14px; font-weight: 100; }
.logo img { width: 16px; }
.search img { width: 18px; }
.shoppingbag img { width: 17px; }

.inner { min-width: 1024px; margin: 0 auto; position: relative; }

#content { width: 100%; height: 100%; overflow: hidden; }
.top_txt { width: 100%; height: 100%; text-align: center; letter-spacing: 0.5px; background-color: #fbfbfd;
margin-top: 48px; }
.top_txt p { font-size: 14px; font-weight: 500; padding: 1% 0; }
.top_txt p .blue { color: #06c; }

.cont1 { text-align: center; width: 100%; height: 100%; display:inline-block;}
.background_img1 { width: 100%; margin: 0 auto; }
.bgimg1 { width: 100%; height: 624px; background: url(../img/macbookair_large.png) center no-repeat;
position: relative; margin: 0 auto; }
.cont1_txt { position: absolute; z-index: 888; width: 70%; margin: 10% auto 0; }
.cont1 .headline { font-size: 48px; font-weight: 600; padding: 2% 0; }
.cont1 .subhead { font-size: 24px; font-weight: 400; }
.cont1 .price { color: #86868b; font-size: 19px; font-weight: 500; line-height: 1.5; }
.cont1 .price p {  }
.click { width: 100%; }
.click a { color: #06c; font-size: 19px; font-weight: 400; padding: 3%; }
.more:hover { text-decoration: underline; }
.buy:hover { text-decoration: underline; } 

.cont2 { text-align: center; width: 100%; height: 100%; margin: 1% 0; }
.background_img2 { width: 100%; margin: 0 auto; }
.bgimg2 { width: 100%; height: 624px; background: url(../img/iphone13_large.jpg) center no-repeat;
position: relative; margin: 0 auto; }
.cont2_txt { position: absolute; z-index: 888; width: 100%; margin: 1% auto 0; }
.cont2 .headline { font-size: 48px; font-weight: 600; padding: 3% 0 2%;}
.cont2 .subhead { font-size: 24px; font-weight: 400; color: #fff; }
.cont2 .price { color: #86868b; font-size: 19px; font-weight: 500; padding: 0; }
.click { width: 100%; }
.click a { color: #06c; font-size: 19px; font-weight: 400; padding: 3%; }

.cont3 { text-align: center; width: 100%; height: 100%; }
.background_img3 { width: 100%; margin: 0 auto; }
.bgimg3 { width: 100%; height: 624px; background: url(../img/bts_bcuslanw_large.jpg) center no-repeat;
position: relative; margin: 0 auto; }
.cont3_txt { position: absolute; z-index: 888; width: 100%; margin: 1% auto 0; }
.cont3 .headline { font-size: 48px; font-weight: 600; padding: 3% 0 2%;}
.cont3 .subhead { font-size: 24px; font-weight: 400;}
.click { width: 100%; margin-top: 1%; }
.click a { color: #06c; font-size: 19px; font-weight: 400; padding: 0% 3%; }

#content2 { width: 100%; height: 100%; position: relative; margin-top: 0.5%; overflow: hidden; }
#content2 ul { width: 100%; margin: 0 auto; }
.content2 li { width: 49%; height: 100%; display: inline-block; margin: 0 auto; color: #000; }
.mac { position: relative; }
.mac_txt { position: absolute; z-index: 888; width: 100%; margin: 1% auto 0; text-align: center; }
.background_img4 { width: 100%; height: 590px; margin: 0 auto; }
.mac .headline { font-size: 40px; font-weight: 600; margin-top: 5%; }
.mac .subline { font-size: 21px; margin: 1% 0; }
.bgimg4 { width: 100%; height: 100%; background: url(/apple/img/promo_ws7_large.jpg) center no-repeat;
  position: relative; margin: 0 auto; }

.watch { position: relative; }
.watch_txt { position: absolute; z-index: 888; width: 100%; margin: 1% auto 0; text-align: center; }
.background_img5 { width: 100%; height: 590px; margin: 0 auto; }
.watch .headline { margin-top: 5%; }
.watch .headline span { width: 430px; height: 49px; z-index: 888; position: relative; }
.watch .subline { font-size: 21px; margin: 1% 0;}
.bgimg5 { width: 100%; height: 100%; background: url(../img/promo_iphone13pro_large.jpg) center no-repeat;
  position: relative; margin: 0 auto; }

.promo { position: relative; }
.promo_txt { position: absolute; z-index: 888; width: 100%; margin: 1% auto 0; text-align: center; }
.background_img6 { width: 100%; height: 590px; margin: 0 auto; }
.promo .headline { font-size: 40px; font-weight: 550; margin: 5% auto 0; width: 60%; }
.promo .headline span { width: 430px; height: 49px; z-index: 888; position: relative; }
.bgimg6 { width: 100%; height: 100%; background: url(../img/promo_mbp13_large.jpg) center no-repeat;
  position: relative; margin: 0 auto; }

.airtag { position: relative; }
.airtag_txt { position: absolute; z-index: 888; width: 100%; margin: 1% auto 0; text-align: center; }
.background_img7 { width: 100%; height: 590px; margin: 0 auto; }
.airtag .headline { font-size: 40px; font-weight: 550; margin: 5% auto 0; }
.airtag .headline span { width: 430px; height: 49px; z-index: 888; position: relative; }
.airtag .subline { font-size: 21px; margin: 1% 0; }
.bgimg7 { width: 100%; height: 100%; background: url(../img/promo_ipadair_large.jpg) center no-repeat;
  position: relative; margin: 0 auto; }

.card { position: relative; }
.card_txt { position: absolute; z-index: 888; width: 100%; margin: 1% auto 0; text-align: center; }
.background_img8 { width: 100%; height: 590px; margin: 0 auto; }
.card .headline { margin-top: 5%; }
.card .headline span { width: 430px; height: 49px; z-index: 888; position: relative; }
.card .subline { font-size: 21px; margin: 1% auto; width: 42%; }
.bgimg8 { width: 100%; height: 100%; background: url(../img/card_large.jpg) center no-repeat;
  position: relative; margin: 0 auto; }

.tv { position: relative; }
.tv_txt { position: absolute; z-index: 888; width: 100%; margin: 1% auto 0; text-align: center; }
.background_img9 { width: 100%; margin: 0 auto; }
.tv .headline { margin-top: 5%; }
.tv .headline span { width: 430px; height: 49px; z-index: 888; position: relative; }
.bgimg9 { width: 100%; height: 590px; background: url(../img/promo_katy_perry_large.jpg) center no-repeat;
  position: relative; margin: 0 auto; }
.tv_txt>.click { margin: 62% auto 0; }
.tv_txt>.click>a:hover span { text-decoration: underline; }
.tv_txt>.click>a>.epi { padding: 1%; text-decoration: none; border-radius: 50px; }
.play>img { margin: 0.5% 0; }

footer { background-color: #f5f5f7; height: 100%; }
.footer { font-size: 12px; line-height: 1.4; color: #86868b; text-align: left; width: 70%; height: 100%;
font-weight: 400; margin: 0 auto; overflow: auto; }
.footer .f_txt { width: 95%; margin: 0 auto; padding-top: 1%; border-bottom: 1px solid #86868b; }
.footer .f_txt li { margin: 1% 0; }

.f_info { width: 95%; margin: 1% auto 0; height: 100%; vertical-align: top; }
.f_info li { font-weight: normal; margin: 5% 0; display: block; }
.f_info li:hover { text-decoration: underline; } 
.f_info ul { width: 100%; margin: 20px auto; font-weight: bold !important; 
  text-decoration: none !important; vertical-align: top; color: #86868b;  }

.line1 { float: left; width: 20%; }
.line2 { float: left; width: 20%; }
.line3 { float: left; width: 20%; }
.line4 { float: left; width: 20%; }
.line5 { float: left; width: 17%; margin: 0 0 5% 3%;}

.f_btm { width: 95%; height: 100%; margin: 5% auto;  }
.f_btm p { float: left; margin-top: 0; }
.top_btm { padding-bottom: 1%; border-bottom: 1px solid #d2d2d7; width: 100%; font-weight: 400; }
.blue { color: #06c; }
.blue:hover { text-decoration: underline; cursor: pointer; }

.btm_b { width: 100%; height: 100%; padding-bottom: 8%; }
.copy { float: left; width: 30%; }
.btm_b ul { float: left; width: 55%; }
.btm_link li { display: inline-block;  font-weight: 550; padding: 0.5% 1.5%; border-right: 1px solid #d2d2d7; }
.btm_link li:hover { text-decoration: underline; cursor: pointer;}
.btm_link li:last-child { border-right: none; }
.country { float: right; width: 15%; text-align: right; font-weight: 550; }
.country:hover { text-decoration: underline; cursor: pointer;}

@media screen and (max-width:1024px) {
#wrap { min-width: 1024px;  margin: 0 auto; }
.inner { min-width: 1024px; }
.bgimg1 { width: 100%; height: 617px; background: url(/apple/img/iphone_12_medium.jpg) center no-repeat;
position: relative; margin: 0 auto; }
.bgimg2 { width: 100%; height: 617px; background: url(/apple/img/iphone_12_pro_medium.jpg) center no-repeat;
  position: relative; margin: 0 auto; }
.bgimg3 { width: 100%; height: 617px; background: url(/apple/img/hero_ipad_pro_medium.jpg) center no-repeat;
  position: relative; margin: 0 auto; }

.background_img4,.background_img5, .background_img6, .background_img7, .background_img8 { 
  width: 100%; height: 490px; margin: 0 auto; }
.bgimg4 { width: 100%; height: 100%; background: url(/apple/img/imac_medium.jpg) center no-repeat;
  position: relative; margin: 0 auto; }

.bgimg5 { width: 100%; height: 100%; background: url(/apple/img/watch_medium.jpg) center no-repeat;
  position: relative; margin: 0 auto; }
.bgimg6 { width: 100%; height: 100%; background: url(/apple/img/bts_medium.jpg) center no-repeat;
  position: relative; margin: 0 auto; }
.bgimg7 { width: 100%; height: 100%; background: url(/apple/img/airtag_medium.jpg) center no-repeat;
  position: relative; margin: 0 auto; }
.bgimg8 { width: 100%; height: 100%; background: url(/apple/img/card_medium.jpg) center no-repeat;
  position: relative; margin: 0 auto; }
.bgimg9 { width: 100%; height: 490px; background: url(/apple/img/snoopy_medium.jpg) center no-repeat;
    position: relative; margin: 0 auto; }


.promo .headline {
  font-size: 35px;
}

.tv_txt { height: 490px; }
.tv_txt>.click { margin: 75% auto 0; }

footer { width: 1024px; }
.footer {  width: 95%; margin: 0 auto; }


}

@media screen and (max-width:960px) {
#wrap { min-width: 960px;  margin: 0 auto; }
.inner { min-width: 960px; }
footer { width: 960px; }
.footer {  width: 90%; margin: 0 auto; }
}

@media screen and (max-width:760px) {
 #wrap { min-width: 760px;  margin: 0 auto; }
 nav { width: 100%; background: #202020ee; position: fixed; z-index: 999; }
 .nav_menu { width: 95%; max-height: 44px; height: 48px; display: flex;
   justify-content: space-between; line-height: 2.5; margin: 0 auto; }
 .nav_menu li { width: 10%;  text-align: center; }
 .nav_menu li:nth-child(1) { display: block; width: 5%; }
 .nav_menu li:nth-child(1) a img { width: 25px; margin-top: 8px; }
 .nav_menu li:nth-child(2) { margin-left: 0; }
 .nav_menu li.mac, .nav_menu li.ipad, .nav_menu li.iphone, .nav_menu li.watch, 
 .nav_menu li.tv, .nav_menu li.music, .nav_menu li.support, .nav_menu li.search {
   display: none;
 }
 
 .nav_menu li a { color: #f5f5f7; font-size: 14px; font-weight: 100; }
 .logo img { width: 16px; }
 .search img { width: 18px; }
 .shoppingbag img { width: 17px; }

 .inner { min-width: 760px; }
  #content2 ul li { display: block; }
  .content2 li { width: 100%; }
  .promo .headline { font-size: 28px; }
  .bgimg1 { width: 100%; height: 617px; background: url(/apple/img/iphone_12_medium.jpg) center no-repeat;
    position: relative; margin: 0 auto; }
  .bgimg2 { width: 100%; height: 617px; background: url(/apple/img/iphone_12_pro_medium.jpg) center no-repeat;
      position: relative; margin: 0 auto; }
  .bgimg3 { width: 100%; height: 617px; background: url(/apple/img/hero_ipad_pro_medium.jpg) center no-repeat;
      position: relative; margin: 0 auto; }
    
  .background_img4,.background_img5, .background_img6, .background_img7, .background_img8 { 
    width: 100%; height: 548px; margin: 0 auto; }
  .bgimg4 { width: 100%; height: 100%; background: url(/apple/img/imac_medium2.jpg) center no-repeat;
    position: relative; margin: 0 auto; }
    
  .bgimg5 { width: 100%; height: 100%; background: url(/apple/img/watch_medium2.jpg) center no-repeat;
    position: relative; margin: 0 auto; }
  .bgimg6 { width: 100%; height: 100%; background: url(/apple/img/bts_medium2.jpg) center no-repeat;
    position: relative; margin: 0 auto; }
  .bgimg7 { width: 100%; height: 100%; background: url(/apple/img/airtag_medium3.jpg) center no-repeat;
    position: relative; margin: 0 auto; }
  .bgimg8 { width: 100%; height: 100%; background: url(/apple/img/card_medium2.jpg) center no-repeat;
    position: relative; margin: 0 auto; }
  .bgimg9 { width: 100%; height: 490px; background: url(/apple/img/snoopy_medium2.jpg) center no-repeat;
      position: relative; margin: 0 auto; }
  .tv_txt>.click { margin: 50% auto 0; }

  footer { width: 760px; height: 100%; }
  .info__heading { display: block; padding: 10px 0 ; border-bottom: 1px solid #d2d2d7; 
    cursor: pointer; }
  .info__heading:after { content: '+'; float: right; font-size: 18px; font-weight: normal; 
    margin: -3px 8px 0 0; }
  .info__heading:after:hover { transform: rotate(45deg) scale(1.08);  padding-bottom: 50%; }
  .info__heading li { display: none; padding-left: 20px; }
  .info__heading>li:first-child { margin-top: 20px; }
  .line1, .line2, .line3, .line4, .line5 { float: block; width: 100%; }
  .line5 { margin: 0 0 15px 0; }
  .top_btm { margin-bottom: none; margin-top: 30px; border-bottom: none; }
  .f_info ul { width: 100%; margin: 0 auto; }
  .f_info li { margin: 2% auto; }
  .btm_link { display: flex; margin-top: 5%; }
  .btm_link li:first-child { padding-left: 0; }
  .btm_b ul { width: 100%; }
  .country { float: left; width: 100%; text-align: left; margin-top: -8% !important; }
  .copy { width: 100%; }
  .footer {  width: 95%; height: 100%; margin: 0 auto; }  
}

@media screen and (max-width:590px) {
  #wrap { min-width: 590px;  margin: 0 auto; }
  nav { width: 100%; background: #202020ee; position: fixed; z-index: 999; }
  .nav_menu { width: 95%; max-height: 44px; height: 48px; display: flex;
    justify-content: space-between; line-height: 2.5; margin: 0 auto; }
  .nav_menu li { width: 10%;  text-align: center; }
  .nav_menu li:nth-child(1) { display: block; width: 5%; }
  .nav_menu li:nth-child(1) a img { width: 25px; margin-top: 8px; }
  .nav_menu li:nth-child(2) { margin-left: 0; }
  .nav_menu li.mac, .nav_menu li.ipad, .nav_menu li.iphone, .nav_menu li.watch, 
  .nav_menu li.tv, .nav_menu li.music, .nav_menu li.support, .nav_menu li.search {
    display: none;
  }
  
  .nav_menu li a { color: #f5f5f7; font-size: 14px; font-weight: 100; }
  .logo img { width: 16px; }
  .search img { width: 18px; }
  .shoppingbag img { width: 17px; }
 
  .inner { min-width: 590px; }
  .top_txt { width: 90%; margin: 48px auto 0;}
  .top_txt p { width: 100%; margin: 0 auto; text-align: center; }

  .cont1 .headline, .cont2 .headline, .cont3 .headline, .mac .headline { font-size: 30px; margin-top: 30px; }
  .cont1 .subhead, .cont2 .subhead, .cont3 .subhead { font-size: 20px; }
  .cont1 .price, .cont2 .price, .cont3 .price { font-size: 17px; line-height: 1.2; width: 38%; margin: auto; }
  .cont2 .subhead { margin-bottom: 20px; }
   .promo .headline { font-size: 28px; }
   .bgimg1 { width: 100%; height: 548x; background: url(/apple/img/iphone_12_small.jpg) center no-repeat;
     position: relative; margin: 0 auto; }
   .bgimg2 { width: 100%; height: 548px; background: url(/apple/img/iphone_12_pro_small.jpg) center no-repeat;
       position: relative; margin: 0 auto; }
   .bgimg3 { width: 100%; height: 548px; background: url(/apple/img/hero_ipad_pro_small.jpg) center no-repeat;
       position: relative; margin: 0 auto; }
     
   .background_img4,.background_img5, .background_img6, .background_img7, .background_img8 { 
     width: 100%; height: 548px; margin: 0 auto; }
   .tv_txt>.click { margin: 65% auto 0; }
 
   footer { width: 590px; }
   .footer {  width: 95%; margin: 0 auto; }  
  
}

@media screen and (max-width:375px) {
  #wrap { min-width: 375px;  margin: 0 auto; }
  nav { width: 100%; background: #202020ee; position: fixed; z-index: 999; }
  .nav_menu { width: 95%; max-height: 44px; height: 48px; display: flex;
    justify-content: space-between; line-height: 2.5; margin: 0 auto; }
  .nav_menu li { width: 10%;  text-align: center; }
  .nav_menu li:nth-child(1) { display: block; width: 5%; }
  .nav_menu li:nth-child(1) a img { width: 25px; margin-top: 8px; }
  .nav_menu li:nth-child(2) { margin-left: 0; }
  .nav_menu li.mac, .nav_menu li.ipad, .nav_menu li.iphone, .nav_menu li.watch, 
  .nav_menu li.tv, .nav_menu li.music, .nav_menu li.support, .nav_menu li.search {
    display: none;
  }
  
  .nav_menu li a { color: #f5f5f7; font-size: 14px; font-weight: 100; }
  .logo img { width: 16px; }
  .search img { width: 18px; }
  .shoppingbag img { width: 17px; }
 
  .inner { min-width: 375px; }
  .top_txt { width: 90%; margin: 48px auto 0;}
  .top_txt p { width: 100%; margin: 0 auto; text-align: center; }
  .cont1 .headline, .cont2 .headline, .cont3 .headline { margin-top: 40px; }
  .cont1 .price, .cont2 .price, .cont3 .price { width: 70%; margin: 0 auto; font-size: 15px }
  .watch .subline, .airtag .subline { font-size: 18px; width: 90%; margin: 15px auto 0;  }
  .card .subline { font-size: 18px; width: 70%; margin: 15px auto 0;  }
  .promo .headline { font-size: 28px; width: 70%; margin: 5% auto 0; }
   .bgimg1 { width: 100%; height: 548x; background: url(/apple/img/iphone_12_small.jpg) center no-repeat;
     position: relative; margin: 0 auto; }
   .bgimg2 { width: 100%; height: 548px; background: url(/apple/img/iphone_12_pro_small.jpg) center no-repeat;
       position: relative; margin: 0 auto; }
   .bgimg3 { width: 100%; height: 548px; background: url(/apple/img/hero_ipad_pro_small.jpg) center no-repeat;
       position: relative; margin: 0 auto; }
     
   .background_img4,.background_img5, .background_img6, .background_img7, .background_img8 { 
     width: 100%; height: 548px; margin: 0 auto; }
   .bgimg4 { width: 100%; height: 100%; background: url(/apple/img/imac_medium2.jpg) center no-repeat;
     position: relative; margin: 0 auto; }
     
   .bgimg5 { width: 100%; height: 100%; background: url(/apple/img/watch_medium2.jpg) center no-repeat;
     position: relative; margin: 0 auto; }
   .bgimg6 { width: 100%; height: 100%; background: url(/apple/img/bts_medium2.jpg) center no-repeat;
     position: relative; margin: 0 auto; }
   .bgimg7 { width: 100%; height: 100%; background: url(/apple/img/airtag_medium3.jpg) center no-repeat;
     position: relative; margin: 0 auto; }
   .bgimg8 { width: 100%; height: 100%; background: url(/apple/img/card_medium2.jpg) center no-repeat;
     position: relative; margin: 0 auto; }
   .bgimg9 { width: 100%; height: 490px; background: url(/apple/img/snoopy_medium2.jpg) center no-repeat;
       position: relative; margin: 0 auto; }
   .tv_txt>.click { margin: 105% auto 0; }
   .top_btm { margin-bottom: none; margin-top: 30px; }
   .f_info ul { width: 100%; margin: 0 auto; }
   .f_info li { margin: 2% auto; }
   .btm_link { display: block; margin-top: 5%; }
   .btm_link li { width: 30%; }
   .btm_link li:first-child { padding-left: 0; float: left; }
   .btm_link li:nth-child(2) { float: left; text-align: center; }
   .btm_link li:nth-child(3) { float: left; text-align: left; width: 35%; padding-left: 0; }
   .btm_link li:nth-child(4) { float: left; text-align: center; width: 16%; }
   .btm_link li:nth-child(5) { float: left; text-align: center; width: 20%; }
   .btm_b ul { width: 100%; }
   .country { float: left; width: 100%; text-align: left; margin-top: -18% !important; }
   .copy { width: 100%; font-size: 13px; }
   footer { width: 375px; }
   .footer {  width: 95%; margin: 0 auto; }  
}
