@charset "utf-8";

:root {
 --color-white: #fff;
 --color-light-white: #eee;
 --color-dark-white: #bdbdbd;
 --color-black: #000;
 --color-grey: #555;
 --color-light-grey: #7c7979;
 --color-orange: #f7941d;
 --color-light-orange: #feb546;

 --font-micro: 14px;
 --font-small: 16px;
 --font-regular: 20px;
 --font-medium: 30px;
 --font-large: 48px;

 --weight-regular: 400;
 --weight-medium: 600;
 --weight-bold: 900;

 --size-border-radius: 4px;

 --animation-direction: 300ms;
 
 --scroll-behavior: smooth;

}

* { box-sizing: border-box; }

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold) !important;
    color: var(--color-black);
    margin: 16px 0;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-medium) !important;
    color: var(--color-black);
    margin: 8px 0; 
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-medium) !important;
    color: var(--color-black);
    margin: 4px 0; 
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

/* nav */
#navbar {
    display: flex;
    justify-content: space-between;
    background-color: #f7951d28;
    position: fixed;
    color: var(--color-white);
    padding: 0;
    width: 100%;
    z-index: 1;
} 

#navbar.navbar--dark {
    background-color: #feb546;
}

.navbar__menu {
    display: flex;
    text-align: center;
    width: 70%;
    font-size: var(--font-small);
    justify-content: space-around;
    line-height: 3;
}

.navbar__logo {
    font-size: var(--font-medium);
    padding: 1% 0 0 2%;
}

.navbar__logo>img {
    width: 45px;    
}

.navbar__menu__item {
    width: 100%;
    padding: 2px;
    margin: 0 4px;
    cursor: pointer;
}
.navbar__menu__item:hover {
    background-color: var(--color-orange);
}

.navbar__toggle-btn { 
    color: #fff;
    font-size: 25px;
    position: absolute;
    right: 25px;
    top: 8px;
    display: none;

 }

/* arrow-up */

.arrow-up {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: var(--color-white);
    background-color: var(--color-orange);
    border-radius: 50%;
}

.arrow-up.visible {
    opacity: 1;
    pointer-events: auto;
  }

#home {
    background: url('img/bg/light4.jpg') center/cover no-repeat;
    padding: 80px 40px 40px 40px;
    text-align: center;
}
.home__avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--color-light-white);
}

.home__title {
    color: var(--color-white);
    padding-top: 5%;
    font-size: var(--font-medium);
    line-height: 1.5;
}

.section {
    padding: 50px;
    text-align: center;
    margin: auto;
}

.section__container {    
    max-width: 1200px;
    margin: 80px auto;
}

#about>p {
    line-height: 2;
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
}

#skills {
    background-color: var(--color-orange);
    margin: auto;
}

.skill__explain {
    width: 85%;
    margin: 0 auto;
}

.skill__explain>ul { 
    width: 100%; display: flex; padding: 2%; 
}

.skill__explain ul li img { 
    width: 50px; 
}

.skill__explain>ul>li:first-child { 
    width: 30%; text-align: right; padding-right: 10%;
 }
.skill__explain>ul>li:last-child { 
    width: 100%; text-align: left;
 }
ul>li.explain1, ul>li.explain2 { 
    padding-top: 20px; font-size: 25px; font-weight: 600;
 }
ul>li.explain3 { 
    font-size: 25px; font-weight: 600; 
}
ul>li.explain4 { 
    padding-top: 10px; font-size: 25px; font-weight: 600; 
}
.educate { 
    line-height: 2; font-size: 25px; font-weight: 600; padding-top: 30px;
    border-top: 1px solid var(--color-light-grey);
    text-align: center;
}


#portfolio { 

}

.main__title {
    margin-bottom: 50px;
}

.portfolio__list {
    margin: 40px 0;
}

.listbtn {
    border: 1px solid var(--color-grey);
    border-radius: var(--size-border-radius);
    font-size: var(--font-small);
    padding: 8px 0;
    width: 120px;
    color: var(--color-black);
}

.listbtn.active,
.listbtn:hover {
    background-color: var(--color-orange);
    border: 1px solid var(--color-orange);
    color: var(--color-white);
}

.clicked {
    border: 1px solid var(--color-orange);
    background-color: var(--color-orange);
    color: var(--color-white);
}

.portfolio__list {
    display: inline-block;
}

.project__info {
    text-align: center;
}

.site__link {
    background-color: var(--color-orange);
    text-align: center;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 10px;
    color: var(--color-white);
    font-weight: var(--font-medium);
    font-size: var(--font-small);
}


.site__link:hover {
    background-color: var(--color-light-orange);
}

.portfolio__list.anim-out {
    opacity: 0;
    transform: scale(0.96) translateY(40px);
  }

.project {
    width: 200px;
    height: 200px; 
}

.listbtn:hover { background-color: var(--color-orange); }

.project.invisible {
     display: none;
}

.project__imgt {
    max-width: 100%;
    max-height: 100%;
    width: 220px;
    margin: 20px 30px 20px 0;
    cursor: pointer;
}

.project__imgp {
    max-width: 100%;
    max-height: 100%;
    width: 280px;
    margin: 20px 30px 20px 0;
    cursor: pointer;
}

.project__imgm {
    max-width: 100%;
    max-height: 100%;
    width: 100px;
    margin: 20px 50px 20px 0;
    cursor: pointer;
}

.img7 {
    width: 210px;
}


.project__imgt:hover,
.project__imgp:hover,
.project__imgm:hover {
    transform: scale(1.3); transition: 0.5s;
}

#contact {   
    background-color: var(--color-orange);
    margin: auto;
}

#contact .section__container h1 {
}

.contact__list {
    width: 80%;
    margin: 0 auto;
}

.contact__list li {
    display: inline-block;
    width: 32%;
    vertical-align: bottom;
}

.contact__list li a img {
    width: 60%;
}

.dothome a img {
    width: 75% !important;
}

.copy {
    margin-top: 60px;
}

#apple {
    max-width: 1500px !important;
}


@media screen and (max-width:1024px) {
.navbar__logo {
    padding: 1.5% 0 0 2%; 
}
    
.skill__explain {
    width: 100%;
}
    

ul>li.explain1, ul>li.explain2 { 
    padding-top: 5px; font-size: 25px; font-weight: 600;
}

ul>li.explain3 { 
    font-size: 25px; font-weight: 600; 
}    


.educate { 
    line-height: 2; font-size: 23px;
}
    
.listbtn {
    font-size: var(--font-regular);
    width: 130px;
    margin: 8px;
}
    
.project{
    flex-grow: 1;
}


}


@media screen and (max-width:960px) {   
.navbar__logo {
    padding: 1.5% 0 0 2%; 
}

.skill__explain {
    width: 100%;
}

.skill__explain>ul>li:first-child { 
    text-align: left; padding-right: 0;
    }

.educate { 
    line-height: 2; font-size: 23px;
}

.listbtn {
    font-size: var(--font-regular);
    width: 130px;
    margin: 8px;
}

.project{
    flex-grow: 1;
}

}

@media screen and (max-width:760px) {
.navbar__toggle-btn {
    display: block;
}
#navbar {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: var(--color-light-orange);
}

.navbar__logo {
    padding: 2% 0 0 5%; 
}

.navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 0;
    display: none;
}

.navbar__menu.open {
    display: block;
}
      
.navbar__menu__item {
    padding-top: 1%;
    width: 100%;
    height: 60px;
}
    
.skill__explain {
    width: 100%;
    margin: 0 auto;
}
 .skill__explain>ul>li:first-child { 
    text-align: left; padding-right: 0;
 }

.educate { 
    line-height: 2; font-size: 23px;
}

.listbtn {
    font-size: var(--font-regular);
    width: 200px;
    margin: 10px;
}

.portfolio__btn button:nth-child(1), #all {
    display: none;
}

.project {
    flex-grow: 1;
}

.project__all {
    display: none;
}

.project__imgt {
    padding: 0 20px;
    margin: 20px 0;
    width: 70%;
}

.project__imgp {
    padding: 0 20px;
    margin: 20px 0;
    width: 80%;
}

.project__imgm {    
    padding: 0 20px;
    margin: 20px 50px;
    width: 30%;
}
.img7{
    width: 55%;
}
.img9 {
    width: 70%;
}
.img10 {
    width: 80%;
}
.img11 {
    width: 50%;
}



.contact__list {
    width: 80%;
    margin: 0 auto;
}
    
.contact__list li {
    display: inline-block;
    width: 32%;
    vertical-align: bottom;
}
    
.contact__list li a img {
    width: 80%;
}

.dothome a img {
    width: 100% !important;
}


}

@media screen and (max-width:590px) {
.navbar__toggle-btn {
    display: block;
}
#navbar {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: var(--color-light-orange);
}
    
.navbar__logo {
    padding: 2% 0 0 5%; 
}
    
.navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 0;
    display: none;
}
    
.navbar__menu.open {
    display: block;
}
          
.navbar__menu__item {
    padding-top: 1%;
    width: 100%;
    height: 60px;
}

.section__container {
    margin: 30px auto;
}

#about>p {
    font-size: 22px;
    width: 97%;
    margin: 0 auto;
}
        
.skill__explain {
    width: 100%;
    margin: 0 auto;
}

ul>li.explain1, ul>li.explain2 { 
    padding-top: 10px; font-size: 20px; 
}
ul>li.explain3, ul>li.explain4  { 
    font-size: 20px;
}
.educate { 
    font-size: 20px;
}


.project__imgm {    
    padding: 0 20px;
    margin: 20px 50px;
    width: 40%;
}
.img7{
    width: 65%;
}
.img9 {
    width: 70%;
}
.img10 {
    width: 80%;
}
.img11 {
    width: 50%;
}


.contact__list {
    width: 100%;
    margin: 0 auto;
}
        
.contact__list li {
    display: block;
    width: 80%;
    margin: 0 auto;
}
        
.contact__list li a img {
    width: 50%;
    margin-bottom: 50px;
}
    
.dothome a img {
    width: 60% !important;
}  
    }

@media screen and (max-width:375px) {
    
.navbar__logo {
    padding: 2.5% 0 0 5%; 
}          
.navbar__menu.open {
    display: block;
}
                  
.navbar__menu__item {
    font-size: var(--font-regular);
}

.section {
    padding: 25px !important;
}

.section__container {
    margin: 50px auto;
}
    
#about>p {
    font-size: 22px;
    width: 100%;
    margin: 0 auto;
}

.skill__explain ul:nth-child(1) {
    margin-bottom: 10px;
}

.skill__explain ul:nth-child(3) {
    margin: 10px 0;
}

.skill__explain ul:nth-child(3) img {
    margin: 6px 0;
}

ul>li.explain2 { 
    padding-top: 0;
}
ul>li.explain4  { 
    padding-top: 0 !important;
}
.educate {
    font-size: 21px;
}
            }    